@model IEnumerable<ArchiveUpload.Models.docs2>

@{
    ViewBag.Title = "Docus";
}

<h2>Docus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.data.ToString(), "DownloadDocBytes", "Document", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
